ImovelWeb/ImovelWeb.Console/Service References/ServicoImovelweb/Servico2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12345/ImovelWeb/Servico?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ImovelWeb.WCF" />
  <xs:element name="PesquisarMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="menu" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisarMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ImovelWeb.WCF" minOccurs="0" name="PesquisarMenuResult" nillable="true" type="q1:XmlMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gravar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ImovelWeb.WCF" minOccurs="0" name="m" nillable="true" type="q2:XmlMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GravarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="menu" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoverMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoverMenuResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>